
body{
    background-color: rgb(235, 235, 235);
}

.logo{
    max-width: 160px;
    margin-left: 2000%;
}

.margen{
    margin-right: 20%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.head{
    background-color: #1A2542;
}

.bl{
    color: rgb(172, 172, 172);
}

.bl:focus{
    color: rgb(172, 172, 172);
}

.bl:hover{
    color: white;
}

.fot{
    max-height: 30px;
    margin: 5px 15px 0px;
}

.fot1{
    max-height: 20px;
    margin: 10px 5px 0px;
}

.barra{
    width: 1%;
    height: 150%;
}

.nav2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-left: 1.5%;
}

.head2{
    background-color: #24beff;
    margin-bottom: 1%;
}

.ng{
    color: #1A2542;
    margin: 0px 60px;
}

.active1{
    font-weight: bolder;
}

.ng:hover{
    color: white;
}

.footer{
    background-color: #1A2542;
    padding-top: 25px;
}

.ft{
    color: rgb(172, 172, 172);
    padding-left: 4.5%;
}

.nav3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.ic{
    width: 25px;
    height: auto;
    filter: invert(84%) sepia(12%) saturate(22%) hue-rotate(324deg) brightness(81%) contrast(88%);
    margin: 0px 10px 5px 15px;
}

.ic2{
    width: 20px;
    height: auto;
    filter: invert(84%) sepia(12%) saturate(22%) hue-rotate(324deg) brightness(81%) contrast(88%);
    margin: 0px 0px 3px 10px;
}

.ic3{
    padding: 0px;
    margin-bottom: 10px;
}

.ic:hover{
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(325deg) brightness(101%) contrast(100%);
}

.ic2:hover{
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(325deg) brightness(101%) contrast(100%);
}

.icizq{
    margin-left: 19%;
}

.icder{
    margin-right: 20%;
}

.drop{
    text-align: center;
    color: white;
    font-weight: 700;
}

.fondo{
    background-color: #1A2542;
    margin-left: 13.5%;
}

.cent{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.mov{
    height: 600px;
}

.titulo{
    height: fit-content;
    margin-bottom: 1%;
}

/* centro */

.fondo1{
    background-color:white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    font-size: 150%;
    box-shadow: 1px 1px 10px #8c8c8c;
}

hr{
    margin: 5px 0px;
    height: 2px;
    border: none;
    background-color: black;
}

.hr1{
    margin: 2% 0px;
    height: 1px;
    background-color: rgb(74, 74, 74);
}

.hr2{
    margin: 5px 0px 3% 0px;
}

.xd{
    row-gap: 5px;
}

.fond{
    background-color: white;
    height: 10%;
}

.foto{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin: 2% 0% 5% 5%;
    box-shadow: 1px 1px 10px #8c8c8c;
    border-radius: 12px;
}

.foto:hover{
    box-shadow: 1px 1px 10px #1e1e1e;
}

.foto2{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: 2% 5% 5% 0%;
    box-shadow: 1px 1px 10px #8c8c8c;
    border-radius: 12px;
}

.foto2:hover{
    box-shadow: 1px 1px 10px #1e1e1e;
}

.alineacion{
    margin: 0 auto;
    padding: 0;
}

.movim{
    font-size: 90%;
    font-weight: 700;
    background-color: rgb(201, 201, 201);
    border-right: solid 1px rgb(54, 54, 54);
    padding: 1% 0;
}

.movim2{
    font-size: 90%;
    font-weight: 700;
    background-color: white;
    border-right: solid 1px rgb(54, 54, 54);
    padding: 1% 0;
}

.movim3{
    font-size: 90%;
    font-weight: 700;
    background-color: rgb(201, 201, 201);
    padding: 1% 0;
}

.movim4{
    font-size: 90%;
    font-weight: 700;
    background-color: white;
    padding: 1% 0;
}

.medio{
    text-align: start;
    padding-left: 3%;
}

.marg{
    padding: 1% 0.55em;
}

.icono{
    width: 20px;
    height: auto;
    float: right;
    margin: 3% 5% 0 0;
    filter: invert(29%) sepia(0%) saturate(0%) hue-rotate(242deg) brightness(97%) contrast(87%);
}

.icono:hover{
    filter: invert(0%) sepia(7%) saturate(21%) hue-rotate(5deg) brightness(78%) contrast(103%);
}

.txtcuenta{
    font-size: 90%;
    font-weight: 700;
}

.boton{
    width: 100%;
}

.boton1{
    margin-bottom: 2%;
    margin-top: 2%;
}

.boton2{
    margin-bottom: 0;
    margin-top: 1.5%;
}

.numcuenta{
    font-size: 150%;
    font-weight: 900;
}

.espacio{
    font-size: 30%;
    margin: 0 auto;
}

.espacio1{
    font-size: 15%;
    margin: 0 auto;
}

.achico{
    margin: 0 0.03%;
}

.redo1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.redo2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding-left: 1.8%;
}

.btn-secondary{
    background-color: rgb(172, 172, 172);
    color: black;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.btn-secondary:hover{
    background-color: #343434;
}
